/* Add your custom css styles here */
/* navbar */
.navbar-brand {
  font-size: 2rem;
}
.nav-link {
  font-size: 1rem;
}

/* index page */
.showcase {
  position: relative;
  height: 100vh;
  background: url("{% static 'images/programmers.jpeg' %}");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.showcase-text {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
  color: #fff;
}

/* footer */
ul {
  list-style: none;
}
li {
  padding: 10px 0;
  text-decoration: none;
}
li a {
  color: #cccc;
}
li a:hover {
  color: #fff;
  text-decoration: none;
  font-weight: bolder;
}
.section {
  width: 100%;
  height: 400px;
  padding: 80px 0;
}
.img-s {
  width: 60%;
  padding-top: 10px;
  padding-left: 30px;
}
.section-bg-1 {
  position: relative;
  background: url("{% static 'images/business.jpeg' %}");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.9;
  background-attachment: fixed;
}

/* https://res.cloudinary.com/hurpcuiow/image/upload/v1551077326/banner_hxgqmv.jpg */

/* https://res.cloudinary.com/hurpcuiow/image/upload/v1551091541/salesman_kt8fwt.png */

/* https://res.cloudinary.com/hurpcuiow/image/upload/v1551092232/africa_1_vfd8hs.png */

/* https://res.cloudinary.com/hurpcuiow/image/upload/v1551091474/mortarboard_uhyv6s.png */
