{% load static %}

<style>
  ul {
    list-style: none;
  }
  li {
    padding: 10px 0;
    text-decoration: none;
  }
  li a {
    color: #cccc;
  }
  li a:hover {
    color: #fff;
    text-decoration: none;
    font-weight: bolder;
  }
</style>

<div class="bg-secondary py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <ul>
          <li><a href="https://facebook.com">Facebook</a></li>
          <li><a href="https://twitter.com">Twitter</a></li>
          <li><a href="https://linkedin.com">Linkedin</a></li>
          <li><a href="">WhatsApp <span>(+254727815187)</span></a></li>
        </ul>
      </div>

      <div class="col-md-6">
        <ul>
          <li><a href="{% url 'clients:contact' %}">Contact Us</a></li>
          <li><a href="https://www.google.com/maps/place/Kenyatta+University,+Nairobi/@-1.1833523,36.8897276,13z/data=!3m1!4b1!4m5!3m4!1s0x182f3f09067bad99:0xf16d95cc142da70a!8m2!3d-1.181056!4d36.9272342">Find Us</a></li>
          <li><a href="{% url 'clients:about' %}">About Us</a></li>
          <li><a href="{% url 'clients:events' %}">Events</a></li>
        </ul>
      </div>
    </div>

    <div class="text-center">
      <p>Explore Education Africa &copy; 2020</p>
    </div>
  </div>
</div>