{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="container mt-5 mb-5">
    <div class="text-center">
      <h4 class="display-4 mb-4">Complete your profile</h4>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <img src="{{request.user.agent.profile_pic.url}}" class="card-img-top" alt="...">
          <hr>
          <div class="card-body">
            <h4>{{request.user.get_full_name}}</h4>
            <p class="card-text">{{request.user.agent.bio}}</p>
          </div>
        </div>
        <a href="{% url 'clients:logout' %}" class="btn btn-secondary btn-block mt-5">Logout</a>
      </div>
      <div class="col-md-8">
        {% if messages %}
          <div class="alert alert-success">
            {% for message in messages %}
              <p>{{message}}</p>
            {% endfor %}
          </div>
        {% endif %}
        <form action="" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-group">
            <label for="nationality">Nationality</label>
            {{form.nationality}}
          </div>
          <div class="form-group">
            <label for="nationalId">National Id</label>
            {{form.national_id}}
          </div>
          <div class="form-group">
            <label for="location">Location</label>
            {{form.location}}
          </div>
          <div class="form-group">
            <label for="dob">Date Of Birth</label>
            {{form.birth_date}}
          </div>
          <div class="form-group">
            <label for="name">Phone</label>
            {{form.phone}}
          </div>
          <div class="form-group">
            <label for="bio">Bio</label>
            {{form.bio}}
          </div>
          <div class="form-group">
            <label for="profile_pic">Profile Picture</label>
            {{form.profile_pic}}
          </div>
          {{form.errors}}
          <input type="submit" value="Submit" class="btn btn-primary">
        </form>
      </div>
    </div>
  </div>
{% endblock %}