{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="row mb-5">
    <div class="col-md-8 mx-auto">
      {% if messages %}
        <div class="alert alert-success">
          {% for message in messages %}
            <p>{{message}}</p>
          {% endfor %}
        </div>
      {% endif %}
      <div class="card card-body">
        <div class="card-title text-center">
          <h4>Explore Education Africa & Agents Workshops</h4>
        </div>
        <form action="" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <label for="university">University Name<span class="text-danger">*</span></label>
            {{form.name}}
          </div>

          <div class="form-row">
            <div class="col-md-6 form-group">
              <label for="line1">Address Line 1<span class="text-danger">*</span></label>
              {{form.address}}
            </div>
            <div class="col-md-6 form-group">
              <label for="city">City<span class="text-danger">*</span></label>
              {{form.city}}
            </div>
            <div class="col-md-6 form-group">
              <label for="state">State/Province<span class="text-danger">*</span></label>
              {{form.state}}
            </div>
            <div class="col-md-6 form-group">
              <label for="postal">Postal / Zip Code<span class="text-danger">*</span></label>
              {{form.postal}}
            </div>
            <div class="col-md-6 form-group">
              <label for="country">Country<span class="text-danger">*</span></label>
              {{form.country}}
            </div>
          </div>

          <div class="form-group">
            <label for="website">Website<span class="text-danger">*</span></label>
            {{form.website}}
          </div>

          <div class="form-group">
            <label for="email">Email<span class="text-danger">*</span></label>
            {{form.email}}
          </div>

          <div class="form-group">
            <label for="desc-instut">Description of Institution<span class="text-danger">*</span></label>
            {{form.description}}
          </div>

          <div class="form-group">
            <label for="isono">ISO Cert NO<span class="text-danger">*</span></label>
            {{form.isono}}
          </div>

          <div class="form-row">
            <div class="col-md-6 form-group">
              <label for="name">Name of Representative<span class="text-danger">*</span></label>
              {{form.representative}}
            </div>
            <div class="col-md-6 form-group">
              <label for="position">Position<span class="text-danger">*</span></label>
              {{form.position}}
            </div>
            <div class="col-md-6 form-group">
              <label for="phone">Phone<span class="text-danger">*</span></label>
              {{form.phone}}
            </div>
            <div class="col-md-6 form-group">
              <label for="email">Email</label>
              {{form.repemail}}
            </div>
          </div>
          <input type="submit" value="Submit" class="btn btn-primary btn-block">
        </form>
      </div>
    </div>
  </div>
{% endblock %}